.banner { 
  position: relative;

  &__img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
  }

  &__title {
    position: absolute;
    font-family: 'Syne', sans-serif;
    font-size: 48px;
    font-weight: 800;
  }
}
  